@model IEnumerable<shauliTask3.Models.Post> 
@using shauliTask3.Models;
@{
    ViewBag.Title = "Home";
}

<h2>POSTS</h2>
@foreach (var item in Model)
{
    Post p = new Post();
    <article class="blogPost">
        <header>
            <h2>@Html.DisplayFor(modelItem => item.PostTitle)</h2>
            <p>Posted on @Html.DisplayFor(modelItem => item.date) by <a href="@Html.DisplayNameFor(model => model.postWebSiteLink)">@Html.DisplayFor(modelItem => item.postWriter)</a> - <a href="#comments">@Html.DisplayFor(model => item.counter) comments</a></p>
        </header>
        <div>
            <p>@Html.DisplayFor(modelItem => item.text)</p>
        </div>
            <div>
                @if (p.image != null)
                {
            <img alt="Flower" src="~/images/@Html.DisplayFor(modelItem => item.image)">
                }
        </div>
        <div>
            @if (p.video != null)
            {
            <video controls="controls">
                <source src="~/images/@Html.DisplayFor(modelItem => item.video)" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            }
            <p></p>
        </div>
    </article>
    <section id="comments">
        <h3>Comments</h3>
        
        @if (item.counter == 0)
        {
            <div align="left">There are no Comments Yet!</div>
        }
 
                 @foreach (var com in item.comments)
                 {

            <article>
                <p>
                    @Html.DisplayFor(modeItem => com.CommentTitle) 
                </p>
                <header>
                    <a href="@Html.DisplayFor(modelItem => com.commentWebSiteLink)"> @Html.DisplayFor(modelItem => com.CommentWriter)</a>
                </header>

                @Html.DisplayFor(modelItem => com.text)
            </article>
                 }
        
        

    </section>

    using (Html.BeginForm("CreateComment", "Comments"))
    {
        @Html.AntiForgeryToken()
        <h3>Post a comment</h3>
        @Html.Hidden("PostID", item.PostID)
        <p>
            <label for="Name">Name</label>
            @Html.TextBox("CommentWriter")
        </p>

        <p>
            <label for="commentTitle">Title</label>
            @Html.TextBox("CommentTitle")
        </p>
            <p>
                <label for="Website">Link</label>
                @Html.TextBox("commentWebSiteLink")
            </p>
            <p>
                <label for="Comment">Comment</label>
                @Html.TextArea("text")
            </p>
            <p><input type="submit" value="Post comment" /></p>
    }




    }


<div class="row">
    <div class="col-md-3">

            <div id="fb-root"></div>
       
    </div>

    <div class="col-md-1"></div>
</div>


<a class="navbar-brand">
    <h3> Statistics</h3>
</a>
<p>To see how many posts each user have @Html.ActionLink("click here ", "Statistics")</p>
<p>To see comments on posts @Html.ActionLink("click here ", "join")</p>
<p class="navbar-text">
    There are a total of <b>@ViewBag.TotalComments Comments</b>
    & <b>@ViewBag.TotalPosts Posts</b>
    & <b>@ViewBag.TotalFans Fans</b>
    & <b>@ViewBag.TotalAccounts Users</b>
    in this community.
</p>
</nav>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
